@font-face {
    font-family: 'pf_din_text_comp_proXTh';
    src: font-url('pfdintextcomppro-xthin-webfont.eot');
    src: font-url('pfdintextcomppro-xthin-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('pfdintextcomppro-xthin-webfont.woff2') format('woff2'),
         font-url('pfdintextcomppro-xthin-webfont.woff') format('woff'),
         font-url('pfdintextcomppro-xthin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pf_din_text_comp_prothin';
    src: font-url('pfdintextcomppro-thin-webfont.eot');
    src: font-url('pfdintextcomppro-thin-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('pfdintextcomppro-thin-webfont.woff2') format('woff2'),
         font-url('pfdintextcomppro-thin-webfont.woff') format('woff'),
         font-url('pfdintextcomppro-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pf_din_text_comp_prolight';
    src: font-url('pfdintextcomppro-light-webfont.eot');
    src: font-url('pfdintextcomppro-light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('pfdintextcomppro-light-webfont.woff2') format('woff2'),
         font-url('pfdintextcomppro-light-webfont.woff') format('woff'),
         font-url('pfdintextcomppro-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pf_din_text_comp_proregular';
    src: font-url('pfdintextcomppro-regular-webfont.eot');
    src: font-url('pfdintextcomppro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('pfdintextcomppro-regular-webfont.woff2') format('woff2'),
         font-url('pfdintextcomppro-regular-webfont.woff') format('woff'),
         font-url('pfdintextcomppro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
  font-family: 'DINPro-Light';
  src: font-url('DINPro-Light.eot?#iefix') format('embedded-opentype'),  font-url('DINPro-Light.woff') format('woff'), font-url('DINPro-Light.ttf')  format('truetype'), font-url('DINPro-Light.svg#DINPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'DINNextLTPro-Regular';
  src: font-url('DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),  font-url('DINNextLTPro-Regular.otf')  format('opentype'),
         font-url('DINNextLTPro-Regular.woff') format('woff'), font-url('DINNextLTPro-Regular.ttf')  format('truetype'), font-url('DINNextLTPro-Regular.svg#DINNextLTPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'DINNextLTPro-Medium';
  src: font-url('DINNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),  font-url('DINNextLTPro-Medium.otf')  format('opentype'),
         font-url('DINNextLTPro-Medium.woff') format('woff'), font-url('DINNextLTPro-Medium.ttf')  format('truetype'), font-url('DINNextLTPro-Medium.svg#DINNextLTPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'DINNextLTPro-Light';
  src: font-url('DINNextLTPro-Light.eot?#iefix') format('embedded-opentype'),  font-url('DINNextLTPro-Light.otf')  format('opentype'),
         font-url('DINNextLTPro-Light.woff') format('woff'), font-url('DINNextLTPro-Light.ttf')  format('truetype'), font-url('DINNextLTPro-Light.svg#DINNextLTPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
