<!-- Front baners start -->
<div class="container">
	<div class="module front-baners">
		<div class="row">
			<div class="col-sm-5">
				<div class="item">
					<a href=""><img src="assets/product-1.jpg" alt="" class="img img--full-width img--block"></a>
				</div>
				<div class="item">
					<div class="row">
						<div class="col-md-4">
							<div class="item__title">
								<div class="item__title--first">Summer</div>
								<div class="item__title--second">collection</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="item__text">
								Lorem ipsum dolor sit amet, consecter adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor amet elit.
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5">
							<a href=""><img src="assets/product-2.jpg" alt="" class="img img--full-width img--block"></a>
						</div>
						<div class="col-xs-5">
							<a href=""><img src="assets/product-3.jpg" alt="" class="img img--full-width img--block"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="row">
					<div class="col-xs-4">
						<div class="item">
							<a href=""><img src="assets/product-4.jpg" alt="" class="img img--full-width img--block"></a>
						</div>
						<div class="item">
							<a href=""><img src="assets/product-6.jpg" alt="" class="img img--full-width img--block"></a>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="item">
							<a href=""><img src="assets/product-5.jpg" alt="" class="img img--full-width img--block"></a>
						</div>
						<div class="item">
							<a href=""><img src="assets/product-7.jpg" alt="" class="img img--full-width img--block"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Front baners end -->