<!-- Header start -->
<header class="header">
	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-xs-5">
					<span class="top__item top__item--icon top__item--phone">1-800-555-1234</span>
					<a href="#" class="top__item top__item--link top__item--icon top__item--location sm-hide">Store Locator</a>
				</div>
				<div class="col-xs-5 align--right">
					<a href="#" class="top__item top__item--link top__item--icon top__item--right-arrow top__item--lang"><span class="sm-hide">Language</span></a>
				</div>
			</div>
		</div>
	</div>
	<div class="middle">
		<div class="container">
			<div class="row">
				<div class="col-xs-2 md-show">
					<div data-nav-toggle="#main-nav" class="burger">
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>
				<div class="col-xs-6 col-md-2">
					<div class="logo"><a href=""><img src="images/logo.png" alt="" class="img img--responsive img--inline"></a></div>
				</div>
				<div class="col-sm-6 md-hide">
					<div class="search">
						<form action="#">
							<span class="search__icon"></span>
							<input class="search__control" type="text">
						</form>
					</div>
				</div>
				<div class="col-xs-2 align--right">
					<a href="" class="basket">
						<span class="basket__icon"><span class="count">4</span></span>
						<span class="basket__title md-hide">shopping bag:</span>
						<span class="basket__data md-hide">Subtotal: <span class="basket__data__value">$1500.00</span></span>
						<span class="basket__data md-hide">Cart: 4 item(s)</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<nav id="main-nav" data-threshold="992" class="main-nav">
		<div class="container">
			<ul class="main-nav__list">
				<li class="main-nav__item"><a href="" class="main-nav__link">new arrivals</a></li>
				<li class="main-nav__item"><a href="" class="main-nav__link">collections</a></li>
				<li class="main-nav__item"><a href="" class="main-nav__link">shoes</a></li>
				<li class="main-nav__item"><a href="" class="main-nav__link">bags</a></li>
				<li class="main-nav__item"><a href="" class="main-nav__link">lingerie</a></li>
				<li class="main-nav__item"><a href="" class="main-nav__link">swim </a></li>
				<li class="main-nav__item"><a href="" class="main-nav__link">accessories</a></li>
				<li class="main-nav__item"><a href="" class="main-nav__link">sale</a></li>
			</ul>
		</div>
	</nav>
</header>
<!-- Header end -->