<!-- Carousel start -->
<div class="container">
	<div class="module">
		<div class="module__title">
			<span class="module__title__text">New This Week</span>
		</div>
		<div data-plugin-options='{"items":4, "loop": false, "nav": true, "mouseDrag": false, "margin":10}' data-responsive-options='{"0":1, "340": 1, "478": 2, "768": 3, "992": 4}' class="carousel products">
			<div class="products__item">
				<div class="products__thumb">
					<a href="">
						<span class="markers">
							<span class="marker marker--sale">Sale</span>
						</span>
						<img src="assets/product-8.jpg" alt="" class="img img--responsive img--block">
					</a>
				</div>
				<div class="products__main-data">
					<div class="row">
						<div class="col-xs-6">
							<a class="products__title" href="">Swiss embroidery cotton dress</a>
						</div>
						<div class="col-xs-4">
							<div class="products__cost">
								<span class="products__currency">$</span>
								<span class="products__f-part">59.</span>
								<span class="products__s-part">90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="products__secondary-data">
					<div class="row">
						<div class="col-xs-6">
							<div class="products__save">Save: $40.00 (35%)</div>
						</div>
						<div class="col-xs-4">
							<div class="products__old-cost">
								<span class="products__old-cost__currency">$</span>99.99
							</div>
						</div>
					</div>
				</div>
				<div class="products__rating">
					<span class="rating">
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item"></span>
					</span>
					<span class="value">4/5 (22)</span>
				</div>
			</div>
			<div class="products__item">
				<div class="products__thumb">
					<a href="">
						<img src="assets/product-9.jpg" alt="" class="img img--responsive img--block">
					</a>
				</div>
				<div class="products__main-data">
					<div class="row">
						<div class="col-xs-6">
							<a class="products__title" href="">Striped pleated dress</a>
						</div>
						<div class="col-xs-4">
							<div class="products__cost">
								<span class="products__currency">$</span>
								<span class="products__f-part">39.</span>
								<span class="products__s-part">99</span>
							</div>
						</div>
					</div>
				</div>
				<div class="products__secondary-data">
					<div class="row">
						<div class="col-xs-6">
							<div class="products__save">Save: $40.00 (35%)</div>
						</div>
						<div class="col-xs-4">
							<div class="products__old-cost">
								<span class="products__old-cost__currency">$</span>49.99
							</div>
						</div>
					</div>
				</div>
				<div class="products__rating">
					<span class="rating">
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item"></span>
					</span>
					<span class="value">4/5 (22)</span>
				</div>
			</div>
			<div class="products__item">
				<div class="products__thumb">
					<a href="">
						<img src="assets/product-10.jpg" alt="" class="img img--responsive img--block">
					</a>
				</div>
				<div class="products__main-data">
					<div class="row">
						<div class="col-xs-6">
							<a class="products__title" href="">Linen cotton blend dress</a>
						</div>
						<div class="col-xs-4">
							<div class="products__cost">
								<span class="products__currency">$</span>
								<span class="products__f-part">34.</span>
								<span class="products__s-part">99</span>
							</div>
						</div>
					</div>
				</div>
				<div class="products__secondary-data">
					<div class="row">
						<div class="col-xs-6">
							<div class="products__save">Save: $40.00 (35%)</div>
						</div>
						<div class="col-xs-4">
							<div class="products__old-cost">
								<span class="products__old-cost__currency">$</span>59.99
							</div>
						</div>
					</div>
				</div>
				<div class="products__rating">
					<span class="rating">
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item"></span>
						<span class="rating__item"></span>
					</span>
					<span class="value">4/5 (22)</span>
				</div>
			</div>
			<div class="products__item">
				<div class="products__thumb">
					<a href="">
						<img src="assets/product-11.jpg" alt="" class="img img--responsive img--block">
					</a>
				</div>
				<div class="products__main-data">
					<div class="row">
						<div class="col-xs-6">
							<a class="products__title" href="">Swiss embroidery cotton dress</a>
						</div>
						<div class="col-xs-4">
							<div class="products__cost">
								<span class="products__currency">$</span>
								<span class="products__f-part">39.</span>
								<span class="products__s-part">90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="products__rating">
					<span class="rating">
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item"></span>
					</span>
					<span class="value">4/5 (22)</span>
				</div>
			</div>
			<div class="products__item">
				<div class="products__thumb">
					<a href="">
						<span class="markers">
							<span class="marker marker--sale">Sale</span>
						</span>
						<img src="assets/product-8.jpg" alt="" class="img img--responsive img--block">
					</a>
				</div>
				<div class="products__main-data">
					<div class="row">
						<div class="col-xs-6">
							<a class="products__title" href="">Swiss embroidery cotton dress</a>
						</div>
						<div class="col-xs-4">
							<div class="products__cost">
								<span class="products__currency">$</span>
								<span class="products__f-part">59.</span>
								<span class="products__s-part">90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="products__secondary-data">
					<div class="row">
						<div class="col-xs-6">
							<div class="products__save">Save: $40.00 (35%)</div>
						</div>
						<div class="col-xs-4">
							<div class="products__old-cost">
								<span class="products__old-cost__currency">$</span>99.99
							</div>
						</div>
					</div>
				</div>
				<div class="products__rating">
					<span class="rating">
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item"></span>
					</span>
					<span class="value">4/5 (22)</span>
				</div>
			</div>
			<div class="products__item">
				<div class="products__thumb">
					<a href="">
						<img src="assets/product-9.jpg" alt="" class="img img--responsive img--block">
					</a>
				</div>
				<div class="products__main-data">
					<div class="row">
						<div class="col-xs-6">
							<a class="products__title" href="">Striped pleated dress</a>
						</div>
						<div class="col-xs-4">
							<div class="products__cost">
								<span class="products__currency">$</span>
								<span class="products__f-part">39.</span>
								<span class="products__s-part">99</span>
							</div>
						</div>
					</div>
				</div>
				<div class="products__secondary-data">
					<div class="row">
						<div class="col-xs-6">
							<div class="products__save">Save: $40.00 (35%)</div>
						</div>
						<div class="col-xs-4">
							<div class="products__old-cost">
								<span class="products__old-cost__currency">$</span>49.99
							</div>
						</div>
					</div>
				</div>
				<div class="products__rating">
					<span class="rating">
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item"></span>
					</span>
					<span class="value">4/5 (22)</span>
				</div>
			</div>
			<div class="products__item">
				<div class="products__thumb">
					<a href="">
						<img src="assets/product-10.jpg" alt="" class="img img--responsive img--block">
					</a>
				</div>
				<div class="products__main-data">
					<div class="row">
						<div class="col-xs-6">
							<a class="products__title" href="">Linen cotton blend dress</a>
						</div>
						<div class="col-xs-4">
							<div class="products__cost">
								<span class="products__currency">$</span>
								<span class="products__f-part">34.</span>
								<span class="products__s-part">99</span>
							</div>
						</div>
					</div>
				</div>
				<div class="products__secondary-data">
					<div class="row">
						<div class="col-xs-6">
							<div class="products__save">Save: $40.00 (35%)</div>
						</div>
						<div class="col-xs-4">
							<div class="products__old-cost">
								<span class="products__old-cost__currency">$</span>59.99
							</div>
						</div>
					</div>
				</div>
				<div class="products__rating">
					<span class="rating">
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item"></span>
						<span class="rating__item"></span>
					</span>
					<span class="value">4/5 (22)</span>
				</div>
			</div>
			<div class="products__item">
				<div class="products__thumb">
					<a href="">
						<img src="assets/product-11.jpg" alt="" class="img img--responsive img--block">
					</a>
				</div>
				<div class="products__main-data">
					<div class="row">
						<div class="col-xs-6">
							<a class="products__title" href="">Swiss embroidery cotton dress</a>
						</div>
						<div class="col-xs-4">
							<div class="products__cost">
								<span class="products__currency">$</span>
								<span class="products__f-part">39.</span>
								<span class="products__s-part">90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="products__rating">
					<span class="rating">
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item rating__item--active"></span>
						<span class="rating__item"></span>
					</span>
					<span class="value">4/5 (22)</span>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Carousel end -->